@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto",sans-serif !important;
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('../Img/fondo\ personalizado.png');
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    z-index: 1;
}

.header{
    background-color: rgb(202, 144, 19, 0.8);
    display: flex;
    z-index: 100;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 5px 5% 5px 0px;
}

.header .logo{
    cursor: pointer;
    display: flex;
    position: relative;
    float: left;
    justify-content: left;
    margin-right: 10%;
    z-index: 10;
}

.header .logo img{
    height: 120px;
    width: 160px;
    display: flex;
    transition: all 0.3s;
    z-index: 10;
}

.header .logo img:hover{
    transform: scaleX(1.2);
}

.header .nav-links{
    position: relative;
    right: 50px;
    list-style: none;
    z-index: 10;
    font-size: 30px;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 19px;
    z-index: 10;
    font-size: 30px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 30px;
    color:#ffffff;
    text-decoration: none;
    z-index: 10;
}

.header .nav-links li a:hover{
    color:rgb(0, 0, 0);
}

.btn button{
    font-size: 20px;
    padding: 10px 20px;
    background-color: #df7d0d;
    color: #000000;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
}

.btn button:hover{
    background-color: #000000;
    color: #ffffff;
}

.nav-links .dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: rgba(223, 167, 14, 0.733);
    min-width: 100px;
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    transition: (0.7);
}

.nav-links .dropdown-content li {
    text-align: center;
    padding: 10px;
}

.nav-links .dropdown-content li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

.nav-links .dropdown-content li a:hover {
    background-color: rgb(139, 100, 13);
    width: 203px;
    margin-left: 1px;
    color: rgb(0, 0, 0);
}

.nav-links .dropdown:hover .dropdown-content {
    display: block;
}

.dropdown {
    position: relative;
}

.dropdown-content a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #1f45c0;
}

/* Estilo para la sección de "Index" */
.index-section {
    position: absolute;
    top: 150px;
    left: 80px;
    text-align: left;
    z-index: 10;
}

.index-text {
    position: relative;
    left: 30px;
    font-size: 16px;
    color: white;
    opacity: 0.8;
}

.main-title {
    font-size: 36px;
    color: white;
    margin-top: 5px;
}

/* Estilo para el logo principal */
.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* O la altura deseada */
    z-index: 1;
}

.main-logo {
    width: 50vh; /* Ajusta según sea necesario */
    height: auto;
    opacity: 0.9;
}

.main-logo:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: transform 0.3s ease;
}


/* Estilo para el botón */
.button-section {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    bottom: 40px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.main-button {
    font-size: 30px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
}

.main-button:hover {
    background-color: #d37912;
    color: #000000;
}

.Explicacion {
    background-color: #0f0f0d; /* Fondo negro */
    color: #ffffff; /* Texto en blanco */
    min-height: 100%;
    z-index: 50;
    min-height: 99vh;
    height: auto;
    padding: 20px;
    font-size: 26px;
    text-align: center;
    line-height: 1.6;
    margin: 0;
}

.Explicacion a {
    color: #d4af37; /* Color dorado para los enlaces */
    text-decoration: none;
    font-weight: bold;
}

.Explicacion a:hover {
    text-decoration: underline;
}

#video1{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important; 
    margin: 30px 0 30px 0px;
    bottom: 20px;
}

.linea{
    border-bottom: 1px solid #ffffff;
    padding-top: 20px;
    padding-bottom: 5px; 
    margin-bottom: 20px;
}

.videocontainer {
    position: relative;
    width: 560px;
    height: 315px;
    margin: 0 auto; /* Centra el contenedor */
    overflow: hidden; /* Oculta cualquier contenido que se salga del contenedor */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    clear: both;
}

.videocontainer:hover {
    transform: scale(1.05); /* Zoom suave al pasar el mouse */
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.9); /* Intensifica la sombra */
}

.videocontainer::before {
    content: '\25BA'; /* esto es universal para el símbolo de "play" */
    font-size: 80px;
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Permite hacer clic en el video sin interferencias coomo el boton play de youtube */
}

.videocontainer:hover::before {
    opacity: 1; /* Esto es lo que hace que el boton no ande oculto y al pasar el mouse por arriba se muestre el boton. */
}

.videorockstar {
    width: 100%;
    height: 100%;
    border: none; /* Quita el borde del iframe */
    display: block;
}
    /* Inicio de Segunda seccion */
.Motor{
    min-height: 55vh;
    text-align: center;
    font-size: 26px;
    line-height: 1.6;
    margin: 0;
    background-color: #0f0f0d;
}

.Motor h1{
    position: relative;
    bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 45px;
    margin-bottom: 10px;
}
   /* Inicio de tercera seccion */

#FAQ{
    color: #ffffff;
}

.FAQ{
    min-height: 80vh;
    text-align: center;
    font-size: 26px;
    line-height: 1.6;
    margin: 0;
    background-color: #0f0f0d;
}

.Pregunta{
    width: 80%;
    text-align: left;
    color: #a5774c;
    padding-left: 20px;
    margin: 0 auto;
}

.FAQ p{
    text-align: left;
    font-size: 20px;
    width: 80%; 
    margin: 0 auto; 
    padding-left: 20px;
}


.FAQ h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 60px;
    color: rgb(241, 233, 218);
}

.FAQ h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 23px;
    color: #a5774c;
}

.footer {
    background-color: #000000be;
    position: relative;
    top: 30%;
    color: #ffffff;
    padding: 50px 5%;
    font-size: 14px;
    z-index: 5;
}


.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column {
    flex: 5;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-column p {
    margin-bottom: 10px;
    line-height: 1.6;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-column.social a {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    color: aliceblue;
}

.footer-column.social img {
    width: 32px;
    height: 32px;
}

.footer-bottom{
    text-align: center;
}

@media (max-width: 1024px) {
    .header {
        flex-direction: column;
        height: auto;
    }

    .imagenes {
        flex-direction: column;
        align-items: center;
    }

    .imagen {
        width: 80%;
        margin-bottom: 20px;
    }

    #DDV {
        font-size: 28px;
    }
}

/* Estilo para pantallas medianas (tabletas) */
@media (max-width: 1024px) {
    .header {
        flex-direction: column;
        height: auto;
    }

    .imagenes {
        flex-direction: column;
        align-items: center;
    }

    .imagen {
        width: 80%;
        margin-bottom: 20px;
    }

    #DDV {
        font-size: 28px;
    }
}

/* Estilo para pantallas medianas (tabletas) */
@media (max-width: 1024px) {
    .header {
        flex-direction: column;
        height: auto;
    }

    .imagenes {
        flex-direction: column;
        align-items: center;
    }

    .imagen {
        width: 80%;
        margin-bottom: 20px;
    }

    #DDV {
        font-size: 28px;
    }
}

/* Estilo para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .header {
        padding: 10px;
        height: auto;
    }

    .nav-links li {
        padding: 10px 5px;
        font-size: 20px;
    }

    .imagenes {
        flex-direction: column;
        align-items: center;
    }

    .imagen {
        width: 100%;
        margin-bottom: 15px;
    }

    #DDV {
        font-size: 24px;
    }

    .Comienzo p {
        font-size: 36px;
        text-align: center;
    }
}